<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.3" package="BlaChat.BlaChat" android:versionCode="4">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="21" />
	<application android:label="BlaChat" android:icon="@drawable/icon"></application>
	<service android:name="BackgroundService"></service>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<receiver android:name="BootReciever" android:enabled="true" android:exported="false" android:label="BootHandler">
		<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED" />
		</intent-filter>
	</receiver>
</manifest>